name: vpn_stack

services:
  gluetun:
    container_name: gluetun
    image: qmcgaw/gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=custom
      - VPN_TYPE=wireguard
      - WIREGUARD_ENDPOINT_IP=!!!!!!!!!!!!!!!!!
      - WIREGUARD_ENDPOINT_PORT=!!!!!!!!!!!!!!!!!
      - WIREGUARD_PUBLIC_KEY=!!!!!!!!!!!!!!!!!
      - WIREGUARD_PRIVATE_KEY=!!!!!!!!!!!!!!!!!
      - WIREGUARD_PRESHARED_KEY=!!!!!!!!!!!!!!!!!
      - WIREGUARD_ADDRESSES=!!!!!!!!!!!!!!!!!
    ports:
      - 8112:8112
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped
  deluge:
    image: lscr.io/linuxserver/deluge:latest
    container_name: deluge
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ~/Syncthing/docker/.config/deluge/config:/config
      - ~/Syncthing/movies:/downloads

    network_mode: "service:gluetun"
    restart: unless-stopped